.vs
**/wwwroot/dist/
**/wwwroot/lib/
**/bin
**/obj
/.idea
**/node_modules/
/public
/vendor
composer.lock
package-lock.json
package-jquery.json.back
npm-debug.log
yarn-error.log
/logs
/DbfShowLib/obj/Debug/netstandard2.1/DbfShowLib.assets.cache
